   <link rel = "stylesheet" href="css/style.css">
   {{>navbar}}
   <div class="container-5">
      <div class="in-line">
         <div>
    <h3 class = "ms"> GUPTA PUBLIC SCHOOL</h3>
    <p class = "pa">Near Manju Shri Nursing Home<br> Ballabgarh Faridabad (Harayana)<br> 121004</p>
    </div>
    </div>
    <div class="in-line">
    <p class = "num">9518016872<br>9811693640</p>
    </div>
   <div class="in-line">
    <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1755.7947538136943!2d77.32552352985087!3d28.341021818255307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cdb9bfdb92d1b%3A0x42b4a14b6d6199e2!2sGupta%20Public%20School!5e0!3m2!1sen!2sin!4v1651128323056!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
    </div>
 </div>



{{!-- footer code --}}

{{>footer}}