 
 <link rel = "stylesheet" href="css/style.css">
  {{>navbar}}
 <div class="container-3">
 <h1 class="hara"> GALLERY</h1>
 <div class="card">
            <h2 class="my-2"></h2>               
                <!-- <div class="cards>" -->
                    <div class="card-item">
                        <img src="https://source.unsplash.com/160x160/?tv" alt=""  width="175px">
                    <div class="lines">
                    <p class="text-center my-1"> School Campus</p>
                   </div>
                </div>

                 <div class="card-item">
                    <img src="https://source.unsplash.com/160x160/? LED" alt=""  width="175px">
                <div class="lines">
                <p class="text-center my-1"> Culture Fest</p>
                </div>
            </div>

            <div class="card-item">
                <img src="https://source.unsplash.com/160x160/?cinema" alt="" width="175px">
            <div class="lines">
            <p class="text-center my-1"> National Winners </p>
            </div>
        </div>

        <div class="card-item">
            <img src="https://source.unsplash.com/160x160/?currency"alt=""  width="175px">
        <div class="lines">
        <p class="text-center my-1"> Olympiad Winners</p>
          </div>
    </div>

        <div class="card-item">
            <img src="https://source.unsplash.com/160x160/?diamond"alt=" "  width="175px">
        <div class="lines">
        <p class="text-center my-1">Farewell</p>
            </div>
    </div>




     
 
 <div class="card">
            <h2 class="my-2"> </h2>               
                <!-- <div class="cards>" -->
                    <div class="card-item">
                        <img src="https://source.unsplash.com/160x160/?school" alt=""  width="175px">
                    <div class="lines">
                    <p class="text-center my-1">NDRF Camp</p>
                   </div>
                </div>

                 <div class="card-item">
                    <img src="https://source.unsplash.com/160x160/? college" alt=""  width="175px">
                <div class="lines">
                <p class="text-center my-1"> Natinal Medials</p>
                </div>
            </div>

            <div class="card-item">
                <img src="https://source.unsplash.com/160x160/?home" alt="" width="175px">
            <div class="lines">
            <p class="text-center my-1"> National Achivers</p>
            </div>
        </div>

        <div class="card-item">
            <img src="https://source.unsplash.com/160x160/?house"alt=""  width="175px">
        <div class="lines">
        <p class="text-center my-1"> Shooting</p>
          </div>
    </div>

        <div class="card-item">
            <img src="https://source.unsplash.com/160x160/?factory"alt=" "  width="175px">
        <div class="lines">
        <p class="text-center my-1">Working Models</p>
            </div>
    </div>
    </div>



     <div class="card">
            <h2 class="my-2"> </h2>               
                <!-- <div class="cards>" -->
                    <div class="card-item">
                        <img src="https://source.unsplash.com/160x160/?bat" alt=""  width="175px">
                    <div class="lines">
                    <p class="text-center my-1">Winners</p>
                   </div>
                </div>

                 <div class="card-item">
                    <img src="https://source.unsplash.com/160x160/?cricket" alt=""  width="175px">
                <div class="lines">
                <p class="text-center my-1">Plantation Day</p>
                </div>
            </div>

            <div class="card-item">
                <img src="https://source.unsplash.com/160x160/?fencing" alt="" width="175px">
            <div class="lines">
            <p class="text-center my-1"> New Year Hawan</p>
            </div>
        </div>

        <div class="card-item">
            <img src="https://source.unsplash.com/160x160/?badminton"alt=""  width="175px">
        <div class="lines">
        <p class="text-center my-1"> Shooting</p>
          </div>
    </div>

        <div class="card-item">
            <img src="https://source.unsplash.com/160x160/?archery"alt=" "  width="175px">
        <div class="lines">
        <p class="text-center my-1">Minister Come</p>
            </div>
    </div>
    </div>
    </div>
    </div>
    



{{!-- footer code --}}


   {{>footer}}