<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Dropdown</title>
   <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
    <div class="container">
    <h1 class="head">INDIA. SWEET. HOUSE</h1>
    <p class="para"> Affilited to Central Board of Secondary  Education</p></div>
    <div class ="menu-bar">
    <ul>
        <li class="active"><a href="#">Home</a>
        </li>
        <li><a href="#">About Us</a>
        <div class="sub-menu-1">
        <ul>
            <li><a href="#">About School</a></li>
            <li><a href="#">Charman Message</a></li>
            <li><a href="#">Director MEssage</a></li>
        </ul>
        </div>
        </li>
        <li><a href="#">Admission</a>
            <div class="sub-menu-1">
                <ul>
                    <li><a href="#">Tution Fees</a></li>
                    <li><a href="#">Admession Details</a></li>
                    <li><a href="#">Admission Enrollement</a></li>
                </ul>
                </div>
        
        </li>
        <li><a href="#">Academics</a>
            <div class="sub-menu-1">
                <ul>
                    <li><a href="#">Exam Syllabus</a></li>
                    <li><a href="#">Exam Datesheet</a></li>
                    <li><a href="#">Homework</a></li>
                    <li><a href="#">Exam Result</a></li>
                </ul>
                </div>
        
        
        </li>
        <li><a href="#">Achivement</a>
            <div class="sub-menu-1">
                <ul>
                    <li><a href="#">Sports</a></li>
                    <li><a href="#">Acadamic</a></li>
                    <li><a href="#">Culture</a></li>
                </ul>
                </div>
        
        
        
        </li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Online Admission</a></li>
    </ul>
    </div>

    <div class="container-2">
        <h3 class="lama">GUPTA PUBLIC SCHOOL</h3>
        <p class="bama"> </p>
    </div>
</body>
</html>
